$color-font: #3a3a3a;
$color-blockquote-font: #777777;

$color-primary: #0097cc;
$color-primary-invert: #ffffff;
$color-secondary: #22dce8;
$color-accent-1: #da5d1a;
$color-accent-2: #d38634;

$color-background-primary: #ffffff;
$color-background-secondary: #fafafa;
$color-background-blockquote: #f5f5f5;
