// Define custom colors
$dark-purple: #1f061e;
$light-purple: #451043;
$light-brown: #b8a049;
$dark-brown: #80670f;

// Set site colors
$base-color: white;
$main-color: $dark-purple;
$sub-color: $light-purple;
$accent-color1: $light-brown;
$accent-color2: $dark-brown;
$accent-color3: lightgray;

// Make site color variations
$base-color-transparent: rgba($base-color, 0.8);
$sub-color-darken: darken($sub-color, 5%);
$sub-color-transparent: rgba($sub-color, 0.6);
$sub-color-darken-transparent: rgba($sub-color-darken, 0.7);
$accent-color3-transparent: rgba($accent-color3, 0.8);

// Create custom bootstrap

// Navigation
$navbar-default-bg: $base-color-transparent;
$navbar-default-border: $accent-color3-transparent;
$navbar-default-link-color: $sub-color;
$navbar-default-link-hover-color: $base-color;
$navbar-default-link-hover-bg: $sub-color-darken-transparent;
$navbar-default-link-active-color: $base-color;
$navbar-default-link-active-bg: $sub-color-transparent;

