$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "_variables.scss";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
img.brand-logo {
    width: 120px;
    height: 50px;
}

img.social-icon {
    width: 40px;
    height: 40px;
}

a.top-anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

a.anchor {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

div.header {
}

div.main-visual {
    padding-top: 100px;
    padding-bottom: 60px;
    border-bottom: 1px solid $accent-color3;
}

div.products {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid $accent-color3;
}

div.members {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid $accent-color3;
}

div.organization {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid $accent-color3;
}

div.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

div.footer {
    margin-top: 400px;
}
