$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    padding-top: 50px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
img.brand-logo {
    width: 120px;
    height: 50px;
}

img.social-icon {
    width: 40px;
    height: 40px;
}

.anchor:before {
    display: block;
    content: '';
    position: relative;
    margin-top: -50px;
    padding-top: 50px;
    visibility: hidden;
}
