// bower:scss
// endbower

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    overflow: auto;
    font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1em;
    font-style: normal;
    color: #fff;
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
}

img.social-icon {
    width: 40px;
    height: 40px;
}

.covered-background-image {
    background-size: cover;
}

.section {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.main-visual-image {
    background-image: url(/images/bg_1.jpg);
}

.products-image {
    background-image: url(/images/bg_2.jpg);
}

.members-image {
    background-image: url(/images/bg_3.jpg);
}

.organization {
    color: #333;
}

.contact-image {
    background-image: url(/images/bg_4.jpg);
}
