---
layout: default
---

<div>

  <div>
    <h1>Gitobi Inc.</h1>
    <p>Tech and Design.</p>
  </div>

  <div>
    <h1>Services</h1>
    {% for service in site.data.services %}
      <h2>{{ service.name }}</h2>
      <p>{{ service.introduction }}</p>
    {% endfor %}
  </div>

  <div>
    <h1>Members</h1>
    {% for member in site.data.members %}
      <div>
        <h2>
          {{ member.full_name }}
          {% if member.title %} <small>{{ member.title }}</small>{% endif %}
        </h2>
        <div>
          <a href="https://github.com/{{ member.social.github | default: site.data.organization.social.github }}" target="blank" rel="nofollow">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div>
    <h1>Organization</h1>
    <div>
      <dl>
      {% for row in site.data.organization.profile %}
        <dt>{{ row.key }}</dt>
        <dd>{{ row.value }}</dd>
      {% endfor %}
      </dl>
    </div>
    <p>
      <a href="https://github.com/{{ site.data.organization.social.github }}" target="blank" rel="nofollow">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </p>
  </div>

  <div>
    <h1>Contact</h1>
    <p><a href="http://goo.gl/forms/UwYGr6VurI" target="blank" rel="nofollow">お問合せはこちらから</a></p>
  </div>

</div>
