<footer>

  <div>

    <div>
      <div>
        <p>
          &copy; 2016 Gitobi
        </p>
      </div>

      <div>
        <ul>
          <li>
            <a href="https://github.com/{{ site.data.organization.social.github }}" target="blank" rel="nofollow">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.data.organization.social.twitter }}" target="blank" rel="nofollow">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
