<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 logo">
                <a href="/">
                    <img class="img" src="/assets/images/logo.png" />
                    <img class="img" src="/assets/images/font.png" />
                </a>
            </div>
            <div class="col-md-4">
                <ul class="footer-menu">
                    <li><a href="/about/">ABOUT</a></li>
                    <li><a href="/services/">SERVICES</a></li>
                    <li><a href="/topics/">TOPICS</a></li>
                    <li><a href="http://goo.gl/forms/UwYGr6VurI" target="blank" rel="nofollow">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">&copy; {{ site.time | date: '%Y' }} Gitobi</p>
            </div>
        </div>
    </div>
</footer>
