<header class="container-fluid">

  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Gitobi</a>
      <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsenav">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="collapsenav">
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#members">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#organization">Organization</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </div>
      </div>
    </div>
  </nav>

</header>
