<header class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="img" src="/assets/images/logo.png" />
                <img class="img" src="/assets/images/font.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="collapsenav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/about/">ABOUT</a>
                </div>
            </div>
        </div>
    </nav>
</header>
