.post {
  padding-top: 50px;

  .post-title {
    margin-top: 25px;
    margin-bottom: 25px;

    h1 {
      font-size: 1.6em;
      margin: 0;
      padding: 0;
    }
  }

  .post-detail {
    margin-top: 25px;
    margin-bottom: 25px;

    p {
      font-size: .8em;
      margin: 0;
      padding: 0;
    }
  }

  .eyecatch {
    margin-top: 25px;
    margin-bottom: 25px;

    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }
  }

  .post-body {
    blockquote {
      position: relative;
      margin: 30px 0;
      padding: 10px 15px 10px 30px;
      box-sizing: border-box;
      font-style: italic;
      background: $color-background-blockquote;
      color: $color-blockquote-font;
      border-left: 4px solid $color-accent-2;

      p {
        padding: 0;
        margin: 7px 0;
        line-height: 1.7;
      }

      cite {
        display: block;
        font-size: 0.9em;
      }
    }
  }
}
