---
---
@charset "utf-8";

$color-font: #3a3a3a;

$color-primary: #0097cc;
$color-primary-invert: #ffffff;
$color-secondary: #22dce8;
$color-accent-1: #da5d1a;
$color-accent-2: #d38634;

$color-background-primary: #ffffff;
$color-background-secondary: #fafafa;

body {
  color: $color-font;
}

header {
  .navbar {
    padding: 0;
    background-color: $color-background-primary;
  }
  .navbar-brand {
    margin: 0;
    padding: 5px 0;
    font-size: 0;
  }
  .navbar-brand .img {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 40px;
    letter-spacing: normal;
  }
  button {
    height: 50px;
  }
  .nav-link {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 0 10px;
  }
  a:hover, .active {
    color: $color-font;
  }
  a {
    color: $color-font;
  }
}

.top {
  .eyecatch {
    .eyecatch-img {
      height: 650px;
      width: 100%;
      object-fit: cover;
      object-position: 85% 20%;
    }
    .eyecatch-phrase {
      position: absolute;
      top: 450px;
      left: 20px;
      font-size: 24px;
      line-height: 24px;
      background-color: $color-background-primary;
      opacity: .75;
      padding: 10px;
      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  .about {
    margin: 50px 0 60px 0;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    .eyecatch-img {
      height: 350px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .about-description {
      margin: 20px 0 40px 0;
    }
  }

  .service {
    margin: 50px 0 60px 0;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    .eyecatch-img {
      height: 350px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .about-description {
      margin: 20px 0 40px 0;
    }
  }
}

.organization {
  h1 {
    margin-bottom: 25px;
    border-left: solid 8px $color-accent-2;
    padding-left: 10px;
  }
}

.contact {
  h1 {
    margin-bottom: 25px;
    border-left: solid 8px $color-accent-2;
    padding-left: 10px;
  }
  a:link, a:hover, a:visited, a:active {
    color: $color-secondary;
    text-decoration: none;
  }
}

footer {
  padding-top: 25px;
  padding-bottom:25px;
  text-align: center;
  ul {
    padding-left: 0px;
    li {
      display: inline;
      a {
        font-size: 30px;
      }
      a:link, a:hover, a:visited, a:active {
        color: $color-font;
      }
    }
  }
}
