---
layout: default
---

<div class="top">
    <div class="eyecatch">
        <img class="eyecatch-img" src="/assets/images/pages/top/eyecatch.jpg" />
        <div class="eyecatch-phrase rounded">
            <p>フルーツ栽培を、<br />ITの力でもっと身近に。</p>
            <p>日本の美味しさが<br />世界で愛される未来へ。</p>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <h1>ABOUT</h1>
            <div class="row">
                <div class="col-md-6 order-md-last">
                    <img class="eyecatch-img rounded" src="/assets/images/pages/top/about_eyecatch.jpg" />
                </div>
                <div class="col-md-6 order-md-first align-self-center">
                    <div class="col-sm-12 about-description">
                        <p>梨や桃をはじめとする日本の美味しいフルーツ。</p>
                        <p>しかし、それら日本のフルーツは、育成期間の長さや病害、食害のリスクを含めた生産コストが高く、また、四季の影響で年に一度しか収穫できない現状があります。</p>
                        <p>Gitobiは、自然環境や職人の感覚をITの力で計測し、データとして活用可能にすることで、誰もが手軽にフルーツ栽培を始められる、続けられる未来を創ります。そして、日本のフルーツが、世界中の人々に愛される未来を目指します。</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href="/about/" class="btn btn-outline-dark btn-block" role="button">Gitobi について →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <h1>SERVICES</h1>
            <div class="row">
                <div class="col-md-6 order-md-last">
                    <img class="eyecatch-img rounded" src="/assets/images/pages/top/services_eyecatch.jpg" />
                </div>
                <div class="col-md-6 order-md-first align-self-center">
                    <div class="col-sm-12 services-description">
                        <p>日本のフルーツ栽培のコストを下げ、効率化を支援する「フルーツ工場」事業を展開。日当たりや水分量などの環境を計測・制御するIoTデバイス「Gitobi Cosmo Devices」の開発と提供、それらのデバイスを使ったオンライン栽培管理システム「からくりファーム」の提供を行っています。</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href="/services/" class="btn btn-outline-dark btn-block" role="button">SERVICESを見る→</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="topics">
        <div class="container">
            <h1>TOPICS</h1>
            <p>Gitobiのコーポレートニュース、メディア掲載情報などを発信しています。</p>
            <div class="card-deck posts">
                {% for post in site.posts limit: 3 %}
                    <a href="{{ post.url }}" class="card posts-card">
                        <img src="{{ post.image }}" class="card-img-top eyecatch-img" alt="Post image" />
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">
                                <span class="pull-left">{{ post.categories }}</span>
                                <span class="pull-right">{{ post.date | date: "%Y年%-m月%-d日" }}</span>
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <a href="/topics/" class="btn btn-outline-dark btn-block" role="button">TOPICSを見る→</a>
                </div>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-6 contact-col">
                    <div class="border rounded contact-box">
                        <h1 class="text-center">CONTACT</h1>
                        <p>サービス利用についてや、協業のご相談、農地情報のご提供、採用についてなど、お問い合わせはこちらからお願いします。（Googleフォームが開きます）</p>
                        <a href="http://goo.gl/forms/UwYGr6VurI" class="btn btn-outline-dark btn-block" role="button" target="blank" rel="nofollow">問い合わせフォームへ</a>
                    </div>
                </div>
                <div class="col-md-6 contact-col">
                    <div class="border rounded contact-box">
                        <h1 class="text-center">MAIL MAGAZINE</h1>
                        <p>サイトの更新情報やGitobiの活動に関するメールマガジンを、不定期にお届けいたします。購読を希望される方はこちらのからお願いします。（Hubspotフォームが開きます）</p>
                        <a href="https://share.hsforms.com/1Bfj7ONcPRBK9bkAeEj3ySw2cwg3" class="btn btn-outline-dark btn-block" target="blank" rel="nofollow">購読申し込みフォームへ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
