---
layout: default
---

<div class="top">
    <div class="eyecatch">
        <img class="eyecatch-img" src="images/pages/top/eyecatch.jpg" />
        <div class="eyecatch-phrase rounded">
            <p>フルーツ栽培を、<br />ITの力でもっと身近に。</p>
            <p>日本の美味しさが<br />世界で愛される未来へ。</p>
        </div>
    </div>

    <div class="about">
        <div class="container-fluid">
            <h1>ABOUT</h1>
            <div class="row">
                <div class="col-md-6 order-md-last">
                    <img class="eyecatch-img rounded" src="images/pages/top/about_eyecatch.jpg" />
                </div>
                <div class="col-md-6 order-md-first align-self-center">
                    <div class="col-sm-12 about-description">
                        <p>梨や桃をはじめとする日本の美味しいフルーツ。</p>
                        <p>しかし、それら日本のフルーツは、育成期間の長さや病害、食害のリスクを含めた生産コストが高く、また、四季の影響で年に一度しか収穫できない現状があります。</p>
                        <p>Gitobiは、自然環境や職人の感覚をITの力で計測し、データとして活用可能にすることで、誰もが手軽にフルーツ栽培を始められる、続けられる未来を創ります。そして、日本のフルーツが、世界中の人々に愛される未来を目指します。</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href="#" class="btn btn-outline-dark btn-block" role="button">Gitobi について →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="members" class="container-fluid members content-div">
    <h1>Members</h1>
    <div class="row">
        {% for member in site.data.members %}
        <div class="col-sm-4 member">
            <h2>
            {{ member.full_name }}
            {% if member.title %} <small>{{ member.title }}</small>{% endif %}
            </h2>
            <div>
            <a href="https://github.com/{{ member.social.github | default: site.data.organization.social.github }}" target="blank" rel="nofollow">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

    <div id="organization" class="container-fluid organization content-div">
    <h1>Organization</h1>
    <div>
        <dl>
        {% for row in site.data.organization.profile %}
        <dt>{{ row.key }}</dt>
        <dd>{{ row.value }}</dd>
        {% endfor %}
        </dl>
    </div>
    </div>

    <div id="contact" class="container-fluid contact content-div">
    <h1>Contact</h1>
    <p><a href="http://goo.gl/forms/UwYGr6VurI" target="blank" rel="nofollow"><strong>お問合せはこちらから</strong></a></p>
    </div>
</div>
