---
layout: default
---
<article class="post container">
    <div class="row post-title">
        <div class="col-lg-8 offset-lg-2">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row post-detail">
        <div class="col-lg-8 offset-lg-2">
            <p>
                <span class="pull-left">{{ page.categories }}</span>
                <span class="pull-right">{{ page.date | date: "%Y年%-m月%-d日" }}</span>
            </p>
        </div>
    </div>
    <div class="row eyecatch">
        <div class="col-lg-8 offset-lg-2">
            <img class="rounded" src="{{ page.image }}" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <p>{{ page.description }}<p/>
            {{ content }}
        </div>
    </div>
</article>
